.container{
    font-family: 'Rakkas', cursive;

}

p, #answers{
    font-family: 'Source Sans Pro', sans-serif;

}

#jumboContent, .row {
    padding-top: 30px;

}

#gifHere{
    border-radius: 10px;
    align-content: center;

}

#answerGif{
    background: black;
}

.jumbotron{
    background-image: url("");
    background-size: cover;
}