.container{
    font-family: 'Rakkas', cursive;
    
}

p, instText{
    font-family: 'Source Sans Pro', sans-serif;

}

#jumboContent, .row {
    padding-top: 30px;

}

#gifHere{
    border-radius: 10px;
    align-content: center;

}

#answerGif{
    background: black;
}

.jumbotron{
    background-image: url("../images/snow.jpg");
    background-size: cover;
    border-width: 2px;
    border-color: black;
    border-style: solid;

}